body {
    background-color: lightgray;
}

.header  {
    height: 500px;
    background-image: url(../img/main.jpg);
}


.nav-menu {
    list-style: none;
    
}

.nav-menu li {
    display: inline-block;
    padding: 15px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(110, 19, 214);
    font-weight: bold;
}

