//Общие свойства

body {
    background-color: lightgray;
}

h2 {
    text-align: center;
    color: #fff;
}

p {
    font-size: 1.2rem;
    
}

//Секция header

header {
    max-width: 1400px;
    margin: auto;
 background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}

.mainLogo {
    width: 100px;
    height: 100px;
}

.mail-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-menu li {
    display: inline-block;
    padding: 15px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(223, 210, 139);
    font-weight: bold;
}

.nav-menu li a:hover {
    color: rgb(246, 246, 234);
    text-shadow: 0 0 5px rgb(246, 246, 234), 4px 4px 10px #000;
}

//секция main

.intro p {
    padding: 30px;
}

main {
    max-width: 1400px;
    margin: auto;
}

.interior-title {
    height: 50vh;
    background-image: url(../img/2.jpg);
}

//секция steps


.steps {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.steps h2 {
 display: inline-block;
 margin: auto; 
 margin-top: 30px;
 margin-bottom: 30px;

}

.steps span {
    font-weight: bold;
    font-size: 1.5rem;
}

//Секция расчета стоимости

.price {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    background-color: rgba(87, 97, 155, 0.383);
}

.btn-calc {
    width: 350px;
    height: 70px;
    border-radius: 20px;
    font-size: 26px;

}

.calc-window {
    position: fixed;
    z-index: 1;
    top: 30vh;
    left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: rgba(103, 176, 209, 0.733);
    border-radius: 15px;
    font-size: 1.3rem;
}

.close-calc {
position: absolute;
top: 5px;
right: 5px;
}

.calc-window-hidden {
    display: none;
}

.area-field,
.filling-field,
.render-numbers-field {
   width: 400px;
}

.btn-count {
    width: 250px;
}

//футер

footer {
     padding: 15px;
    // min-height: 200px;
    // background-color: rgb(87, 147, 155);
    // display: flex;
    // justify-content: space-between;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    
}

.copyright{
    color: #fff;
    
}

.links {
   display: flex;
}

.sketchfab-logo,
.artstation-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

.sketchfab-link,
.artstation-link {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}




//////Страница modeling

.about {
    min-height: 350px;
    background-color: rgb(128, 185, 192);
}
